body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; 
}


h1 { /* Styles for all h1 headers */
  text-align: center;  /* Center the text */
  font-family: sans-serif; /* Change the font to sans-serif */
  margin-top: 10vh; /* Add margin-top to the header */
}


button { /* Styles for all buttons */
  display: block; /* Make the button a block-level element */
  margin: 0 auto; /* Center the button horizontally */
  font-family: sans-serif; /* Change the font to sans-serif */
  border-radius: 5px;
  text-align: center; /* Center the text within the buttons */

}


#myHeader { /* Styles for this specific header*/
    font-size: 4em;
    color: darkred;
    -webkit-text-stroke: 1px white; /* For compatibility with older browsers */
    text-stroke: 1px white; /* Add text outline */
}


#toggleLanguage {
    position: fixed;
    top: 2vh;  /* 2% of the viewport height */
    right: 2vw;
    font-size: 1em;
    background-color: darkred;
    color: white;
    border: none; /* Remove any existing border */
    outline: none; /* Remove any existing outline */
}

#generateButton { /* Styles for this specific button*/
    position: fixed;
    top: 2vh;  /* 2% of the viewport height */
    left: 80vw;
    font-size: 1em;
    background-color: darkred;
    color: white;
    border: none; /* Remove any existing border */
    outline: none; /* Remove any existing outline */
}

#boardNumberSelect {
    position: fixed;
    top: 7vh;  /* 2% of the viewport height */
    left: 80vw;
    font-size: 1em;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    border: none; /* Remove any existing border */
    outline: none; /* Remove any existing outline */
    text-align: center; /* Center the text within the buttons */

}


#bingoCard {
  width: 100vw;  /* 90% of the viewport width */
  height: 100vw; /* Same as width to maintain square aspect ratio */
  max-width: 500px; /* Limit the maximum width to 500px */
  max-height: 500px; /* Limit the maximum height to 500px */
  border-collapse: collapse;
  margin: 20px auto;
}


#bingoCard td {
  width: 20%;
  height: 20%;
  border: 1px solid gold;
  text-align: center; /* Center text horizontally */
  vertical-align: middle;
  font-size: 14px;
  color: white;
  cursor: pointer;
  font-family: sans-serif; /* Use a sans-serif font */
}

#bingoCard td.selected {
  background-color: darkred;
  color: white;
}

#container {
  background-image: url("starrySky1.jpg") !important; 
  background-size: cover; 
  background-repeat: no-repeat; 
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it's behind other content */
}
	


									/* CHANGES FOR PHONE SCREENS */
@media (max-width: 480px) { 
  #bingoCard td {
    font-size: 10px; /* Even smaller font size for very small screens */
  }
}


/* Mobile Adjustments */
@media (max-width: 1500px) { /* breakpoint */
  #myHeader {font-size: 40px;}  

  #toggleLanguage, #generateButton, #boardNumberSelect {
    position: fixed;
    font-size: 12px;
    top: 10px;
    margin-right: 2vw; /* Add some space between buttons */
    text-align: center; /* Center the text within the buttons */
  }

  #toggleLanguage {
    right: 2vw; 
  }

  #boardNumberSelect {
    left: 2vw; /* Position from the right edge */
    top: 30px;
  }

  #generateButton {
    left: 2vw;        /* Position in the center */
  }
}










